header{ 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; 
    display: flex;
    justify-content: flex-end; 
    z-index: 100;
    .burger{
        padding: 45px 30px 0;
        outline: none;
        span{
            display: block;
            width: 36px;
            height: 2px;
            margin-bottom: 7px;
            position: relative;
            background: #10100F;;
            border-radius: 3px;
        }    
    }
   .plus{
        padding: 45px 30px 0;
        outline: none;
        span{
            display: block;
            width: 36px;
            height: 2px;
            margin-bottom: 7px;
            position: relative;
            background: #10100F;
        }
        span:first-child{
            transition-duration: 0.5s;
            transform: rotate(-45deg) translate(-6px, -4px);
        }
        span:last-child{
            transition-duration: 0.5s;
            transform: rotate(45deg) translate(-8px, -1px);
        }  
        }
    
}    