
.wrap{
  padding: 80px 0 20px;
	background-color: #EEEEEE;
	height: 100vh;
	box-sizing: border-box;
	.content{
		height: 100%;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 15px 12px 0;

    h1{
        font-family: 'Yeseva One', cursive;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 39px;
        text-align: left;
        margin-top: 0;
        margin-bottom: 1em;
    }
    p{
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        margin: 0px;
    }
    .first{
        margin-bottom: 22px;
    }
	}	
}