.wrap{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #636C92;
   color: white;
   padding: 5vh 3vh 0 3vh;
   display:flex;
   flex-direction: column;
   
   h3{
    font-family: 'Yeseva One', cursive;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 3vh;
   } 
   p{
    font-family: 'Noto Sans', sans-serif;;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 3.5vh;
   }
}