<app-header [pageType]="'nav'"></app-header>
<div class="wrapp">
    <header>
        <div class="head">WILA</div>
    </header>
    <div class="nav-wrap">
        <ul>
            <li [routerLink]="['']">Home</li>
            <li [routerLink]="['about']">About</li>
            <li [routerLink]="['group-therapy']">Group Therapy</li>
            <li [routerLink]="['programs']">Our Programs</li>
            <li [routerLink]="['founder']">Our Founder</li>
            <li [routerLink]="['contacts']">Contact Us</li>
        </ul>
    </div>
</div>