.wrapp{   
    background: #eeeeee;
    height: 100vh;
    padding: 85px 0 20px;
    box-sizing: border-box;

    .nav-wrap{
        padding: 6%;
        overflow-y: scroll;
        height: 100%;
        box-sizing: border-box;
        ul{
            margin-top: 0;
            li{
                font-size: 28px;
                font-family: 'Noto Sans', sans-serif;
                font-weight: 400;
                margin-bottom: 5.6vh;
                list-style: none;
                cursor: pointer;
            }
        }
        
    }
}    