.wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #272624;
    padding: 4vh 2vh 0;
    color: white;
    .img{
        padding-top: 30px;
        background-image: url('../../assets/pic\ 2.png');
        height: 330px;
        width: auto;
        background-repeat: no-repeat;
    }
    .text{
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        overflow-y: scroll;
        
        h2{
            font-family: 'Yeseva One', cursive;
            font-size: 28px;
            font-weight: 400;
            line-height: 39px;
        }
        p{
            font-family: 'Noto Sans', sans-serif;;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px; 
        }
    }
}