@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {  
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
}

*{
    padding:0; margin:0;
  }
