.wrap{
  padding-top: 5%;
	height: 100%;
	overflow-y: scroll; 
  .content{
		.img{
			background-image: url('../../assets/kylie-lugo.png');
			height: 286px;
			width:100%;
			background-repeat: no-repeat;
			margin-bottom: 6vh;
		}
		h3{
			font-family: 'Yeseva One', cursive;
			font-size: 28px;
			font-weight: 400;
			line-height: 39px;
			padding: 0 2.5vh;
		}
	}	
}