<app-header [pageType]="'home'"></app-header>
<div class="wrapp">
    <header>
        <div class="head">WILA</div>
    </header>
    <div class="content">
        <h1>We help people reach their full potential</h1>
        <p>WILA is at the forefront of a therapy movement, changing the ways people are treated when they need help but are held back by financial, cultural and
            systemic barriers.
        </p>
        <button [routerLink]="['nav/contacts']">Begin Theraphy</button>
    </div>
</div>
