.wrapp{   
    height: 100vh;
    padding: 85px 0 20px;
    box-sizing: border-box;
    .content{
        padding: 5% 8% 0;
        overflow-y: scroll;
        height: 100%;
        h1{
            font-family: 'Yeseva One', cursive;
            text-align: center;
            font-size: 36px;
            margin-bottom: 6vh;
            margin-top: 0;
        }
        p{
            font-family: 'Noto Sans', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            margin-bottom: 8vh;
            margin-top: 0;
        }
        button{
            display: block;
            outline: none;
			width: 28vh;
			padding: 2.4vh 1.5vh;
			border-radius: 6vh;
			background-color: white;
			font-size: 18px;
			border-color: black;
			font-weight: 400;
			margin: 0 auto;
			cursor: pointer;
            font-family: 'Yeseva One';
        }
        button:hover{
            background-color: rgb(233, 233, 233); 
        }
    }
} 
.wrapp::before{
    content: '';
    width: 270px;
    height: 243px;
    background-image: url('../../assets/leaf-yellow.png');
    position: absolute;
    left: 0px;
    top: 10px;
    background-repeat: no-repeat;
    z-index: -2;
}
.wrapp::after{
    content: '';
    width: 220px;
    height: 250px;
    background-image: url('../../assets/leaf-blue.png');
    position: absolute;
    z-index: -2;
    right: 0px;
    bottom: 0px;
    background-repeat: no-repeat;
}     